{% extends 'base.html.twig' %}

{% block pageTitle %}Kanban board{% endblock %}

{% block body %}
    {% raw %}
    <div id="kanban-board" class="kanban-board" ng-controller="TaskboardController">
        <div class="row">
            <div class="col-xs-4">
                <header class="kanban-group-header">
                    <h2 class="kanban-group-title">To do</h2>
                </header>
                <ul class="kanban-group todo-group">
                    <li class="kanban-task" ng-repeat="task in toDoTasks">
                        <h3 class="task-title">{{ task.name }}</h3>
                        <p class="task-description">{{ task.description }}</p>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4">
                <header class="kanban-group-header">
                    <h2 class="kanban-group-title">In progress</h2>
                </header>
                <ul class="kanban-group in-progress-group">
                    <li class="kanban-task" ng-repeat="task in inProgressTasks">
                        <h3 class="task-title">{{ task.name }}</h3>
                        <p class="task-description">{{ task.description }}</p>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4">
                <header class="kanban-group-header">
                    <h2 class="kanban-group-title">Done</h2>
                </header>
                <ul class="kanban-group done-group">
                    <li class="kanban-task" ng-repeat="task in doneTasks">
                        <h3 class="task-title">{{ task.name }}</h3>
                        <p class="task-description">{{ task.description }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endraw %}
{% endblock %}